<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Sarabun-Bold-Italic.ttf</string>
		<string>Sarabun-ExtraBold-Italic.ttf</string>
		<string>Sarabun-ExtraBold.ttf</string>
		<string>Sarabun-ExtraLight-Italic.ttf</string>
		<string>Sarabun-ExtraLight.ttf</string>
		<string>Sarabun-Italic.ttf</string>
		<string>Sarabun-Light-Italic.ttf</string>
		<string>Sarabun-Light.ttf</string>
		<string>Sarabun-Medium-Italic.ttf</string>
		<string>Sarabun-Medium.ttf</string>
		<string>Sarabun-Regular.ttf</string>
		<string>Sarabun-SemiBold-Italic.ttf</string>
		<string>Sarabun-SemiBold.ttf</string>
		<string>Sarabun-Thin-Italic.ttf</string>
		<string>Sarabun-Thin.ttf</string>
		<string>Sarabun-Bold.ttf</string>
	</array>
</dict>
</plist>
